/* .hourly {
    width: inherit;
    overflow-x: auto;
}

.hourly-heading {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
}

::-webkit-scrollbar {
    margin-top: 20px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
} */