.week {
    width: 60%;
}

.week h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    line-height: 2rem;
}

@media screen and (max-width: 860px) {
    .week {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .week {
        width: 100%;
    }
}