.week {
    width: 60%;
    max-width: 700px;
}

.week h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    line-height: 2rem;
}

@media screen and (max-width: 1000px) {
    .week {
        width: 70%;
    }
}
@media screen and (max-width: 600px) {
    .week {
        width: 100%;
    }
}