.main {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    width: 50%;
}

.date {
    display: block;
}

.city {
    font-size: 2rem;
    margin-bottom: 20px;
}

.temperature {
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.temperature span {
    margin-left: 10px;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.details > span {
    flex-basis: 50%;
    
}
@media screen and (max-width: 860px) {
    .details > span {
        flex-basis: 100%;
    }
}