/* .header {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 5rem;
}

.header button {
    margin-right: 5rem;
    background-color: #eee;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--primary-color);
}

@media screen and (max-width: 860px) {
    .header {
        justify-content: space-between;
    }
} */